DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=peppi_db
MCP_URL=http://mcp_server:8000/sse
GROQ_API_KEY=your_groq_key_here
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=peppi_db
PYTHONUNBUFFERED=1
TELEGRAM_BOT_TOKEN=your_telegram_token_here
MY_TELEGRAM_ID=your_telegram_id_here